<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="www.ultrag.net.nz/thymeleaf/layout"
	layout:decorator="/layout/LayoutPadrao">

<section layout:fragment="conteudo">
	<div class="container">
		<div class="section">

			<div class="row">
				<div class="col s12 m12">
					<div class="card hoverable">
						<div class="card-content black-text">
							<span class="card-title">Cadastro de entidades 2</span>

							<div class="row">
								<form class="col s12" method="post" th:action="@{/entidades/novo}"
									th:object="${entidade}">
									
									<div class="row">
										<div class="input-field col m6 s12">
											<input id="nome" type="text" class="validate" name="nome"/>
											<label for="nome">Nome</label>
										</div>
										<div class="input-field col m6 s12">
											<input id="cpf_cnpj" type="text" class="validate" name="cpfOuCnpj"/>
											<label for="cpf_cnpj">CPF/CNPJ</label>
										</div>
									</div>
									
									<div class="row">
										<div class="input-field col m6 s12">
											<select id="estado" class="validade" name="estado">
												<option value="" disabled="disabled" selected="selected">Selecione o Estado</option>
												<option value="RN">Rio Grande do Norte</option>
												<option value="PB">Paraíba</option>
											</select>
										</div>
										<div class="input-field col m6 s12">
											<select id="cidade" class="validade" name="cidade">
												<option value="" disabled="disabled" selected="selected">Selecione a Cidade</option>
												<option value="Natal">Natal</option>
												<option value="João Pessoa">João Pessoa</option>
											</select>
										</div>
									</div>
									
									<div class="row">
										<div class="input-field col m6 s12">
											<input id="endereco" type="text" class="validate" name="endereco"/>
											<label for="endereco">Endereço</label>
										</div>
										<div class="input-field col m6 s12">
											<input id="bairro" type="text" class="validate" name="bairro"/>
											<label for="bairro">Bairro</label>
										</div>
									</div>
									
									<div class="row">
										<div class="input-field col m6 s12">
											<input id="telefone" type="text" class="validate" name="telefone"/>
											<label for="telefone">Telefone</label>
										</div>
										<div class="input-field col m6 s12">
											<input id="email" type="email" class="validate" name="email"/>
											<label for="email" data-error="Não é um e-mail válido!" data-success="Email correto.">
												E-mail
											</label>
										</div>
									</div>

									<button class="btn waves-effect deep-purple darken-4" type="submit" name="action">
										Salvar<i class="material-icons right">send</i>
									</button>
								</form>
							</div>
						</div>

						<div class="card-action">
							<a href="#">Voltar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</html>
