<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="www.ultrag.net.nz/thymeleaf/layout"
	layout:decorator="/layout/LayoutPadrao">

<section layout:fragment="conteudo">
	<div class="container">
		<div class="section">

			<div class="row">
				<div class="col s12 m12">
					<div class="card hoverable">
						<div class="card-content black-text">
							<span class="card-title">Cadastro de entidades</span>

							<div class="row">
								<form class="col s12">
									<div class="row">
										<div class="input-field col s6">
											<input id="nome" type="text" class="validate"/>
											<label for="nome">Nome</label>
										</div>
										<div class="input-field col s6">
											<input id="cpf_cnpj" type="text" class="validate"/>
											<label for="cpf_cnpj">CPF/CNPJ</label>
										</div>
									</div>

									<button class="btn waves-effect deep-purple darken-4" type="submit" name="action">
										Salvar<i class="material-icons right">send</i>
									</button>
								</form>
							</div>
						</div>

						<div class="card-action">
							<a href="#">Voltar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</html>
